extends ./layout.jade
block content

    section.aboutContainer
      .about
        h3 ABOUT
        p
          | ADS architectural office was established in 1994 by Gintaras Kuginys and Saulius Misevičius. There is a long list of different scale and typology projects designed and built since then, most of them in collaboration with other architects and artists.
        p
          | ADS architects with their deeply conceptual mindset and experience in different types of projects is the right choice to work with on your next project.
        p
          | For any questions please 
          a(href='/contact') contact us.
      .profile-photo
        img(src='/static/img/gintaras.jpg', alt='Photo of Gintaras Kuginys')
        .photo-overlay
          h3 Gintaras Kuginys
          p architect
      .profile-photo
        img(src='/static/img/saulius.jpg', alt='Photo of Saulius Misevicius')
        .photo-overlay
          h3 Saulius Misevičius
          p architect
