extends ./layout.jade
block content

    section.aboutContainer
      .about
        h3 CONTACT
        p -
        p UAB "A.D.S."
        p Vokiečių g. 9-27, 01130 Vilnius
        p +370 614 54391
        p +370 52 122051
        p.mail
          a(href='mailto:info@a-d-s.lt') info@a-d-s.lt
        p -
      #map
        // Map goes here
        
