/*-------------------------------- GENERAL */

* {
  box-sizing: border-box;
  /*border: 1px solid;*/
}

html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Verdana', sans-serif;
  background-color: #fff;
	color: #999;
  margin: 0 0 100px;
}

a {
	text-decoration: none;
}

p {
  font-size: 0.8em;
}

h3 {
	font-size: 1.3em;
	margin: 0;
	font-weight: normal;
}


/*-------------------------------- HEADING */

header {
	float: left;
	padding: 5px 0 0 0;
	width: 100%;
  background: #fff;
  z-index: 1000;
}

#logo {
	text-align: center;
	margin: 0;
  transition: letter-spacing .8s;
}

h1 {
	font-family: 'Oswald', sans-serif;
	margin: 30px 0;
	font-size: 2em;
	font-weight: normal;
	line-height: 0.8em;
	letter-spacing: 2px;
  color: #222;
  transition: .5s;
}

h1:hover {
  letter-spacing: 5px;
}


/*-------------------------------- NAVIGATION */

.dropdown {
	margin: 10px 5%;
  width: 90%;
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.dropdown-content a,
.dropdown-content a:visited {
	color: #aaa;
}

.dropdown-content a.selected,
.dropdown-content a:hover {
	color: #666;
}

/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #aaa;
  padding: 12px;
  font-size: .8em;
  letter-spacing: 1px;
  border: 1px solid #aaa;
  border-radius: .5em;
  cursor: pointer;
  width: 100%;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #aaa;
    color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    text-decoration: none;
    display: block;
  	padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.dropdown-content a:hover {color: #666}

/* Show the dropdown menu (using JS) */
.show {
  display: block;
}


/*-------------------------------- FOOTER */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
	text-align: center;
	clear: both;
	padding-top: 15px;
  background-color: #f6f6f6;
}

footer p {
  margin-bottom: 0;
}

.social-icons {
	width: 24px;
	height: 24px;
	margin: 0 10px;
}


/*-------------------------------- PROJECTS */

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
	width: 94%;
	background: #fff;
  margin: auto;
}

.photo {
  flex-basis: auto;
	position: relative;
	overflow: hidden;
  margin: .5em;
}

.photo img {
  width: 100%;
 	height: auto;
  border-radius: .5em;
  transition: transform .8s;
}

.photo:hover img {
	transform: scale(1.1);
  border-radius: .5em;
}

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
  background: #000;
  opacity: 0;
	transition: opacity .8s;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.photo-overlay:hover {
	opacity: .6;
}

.description {
  width: 100%;
  padding: 10px;
}


/*-------------------------------- ABOUT, CONTACT */

.profile-photo,
.about {
	position: relative;
	overflow: hidden;
  margin: 10px;
}

.about {
  border-radius: .5em;
  margin-top: 12%;
  padding: 15px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.about > p {
  font-size: .8em;
  letter-spacing: 1px;
}

.about a {
  color: #ffdb1f;
}

.aboutContainer {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.profile-photo img {
  width: 100%;
  border-radius: .5em;
}

#map {
  height: 370px;
  width: 370px;
  margin: 10px;
  border-radius: .5em;
}

/*-------------------------------- RESPONSIVE */

@media (max-width: 560px) {

  #map {
    width: 94%;
  }

  .aboutContainer {
    margin-top: 3%;
    width: 94%;
  }

}


@media (min-width: 560px) {

  .dropbtn {
    display: none;
  }

  .dropdown {
    font-size: 0.8em;
    background: none;
    text-align: center;
    width: 90%;
    margin: 0 5%;
  }

  .dropdown-content {
    justify-content: center;
    display: flex;
    box-shadow: none;
    background-color: #fff;
  }

  .photo img {
    width: auto;
   	height: 100%;
  }

  .container {
    justify-content: space-between;
    width: 555px;
    margin-top: 60px;
  }

  .aboutContainer {
    margin-top: 25px;
  }

  .photo {
    height: 100px;
  }

  .description {
    margin-top: 30px;
  }

  .photo-overlay h3 {
    font-size: .8em;
  }

  .photo-overlay p {
    display: none;
    font-size: .6em;
  }

}


@media (min-width: 900px) {

  .dropdown {
    float: right;
    text-align: right;
    margin-right: 5%;
    margin-top: 30px;
    width: 580px;
  }

#logo {
  float: left;
  margin-left: 5%;
  text-align: left;
  width: 20%;
  }

  .container {
    width: 850px;
  }

  .photo {
    height: 160px;
  }

  .photo-overlay h3 {
    font-size: 1.3em;
  }

  .photo-overlay p {
    display: inline;
    font-size: .8em;
  }

}

@media (min-width: 1280px) {

  .container {
    width: 1100px
  }
  .photo {
    height: 200px;
    margin: 1em;
  }

@media (min-width: 1440px) {

  .container {
    width: 1250px
  }
  .photo {
    height: 230px;
  }


@media (min-width: 1800px) {

  .container {
    width: 1450px;
  }
  .photo {
    height: 270px;
  }

}
