footer
  //- a(href='http://twitter.com/mkunevicius')
  //-   img.social-icons(src='/static/img/twitter-wrap.png', alt='Twitter Logo')
  //- a(href='https://www.facebook.com/profile.php?id=600401577')
  //-   img.social-icons(src='/static/img/facebook-wrap.png', alt='Facebook Logo')
  p © 2016 A.D.S.
