header
  div
    a#logo(href='/')
      h1 A.D.S.
  .dropdown
    button.dropbtn(onclick='myFunction()') MENU
    #myDropdown.dropdown-content
      a#all(href='/') all
      a#realizations(href='/realizations') realizations
      a#competitions(href='/competitions') competitions
      a#projects(href='/projects') projects
      a#about(href='/about') about
      a#contact(href='/contact') contact
